{% extends "ebanking/base.html" %}
{% block logout %}{% endblock %}
{% block header %}Logowanie do systemu{% endblock %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="" method="post">
{% csrf_token %}
<label>Identyfikator:</label>
<input type="text" name="username" id="username" value="{{ username }}" />
<label>Hasło:</label>
<input type="password" name="password" id="password" />
<input class="submit" type="submit" value="Zaloguj" />
</form>
{% endblock %}